body {
    background-image: url('./files/sky.gif');
    background-size: cover;
}

.enter {
    padding: 10px 10px;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: "Pixelify Sans", serif !important;
}

a {
    text-decoration: none;
    color: rgb(84, 84, 84);
}